/****************** MARGIN & PADDING LAVER IKKE BOX'S STØRRE ******************/
* {
    box-sizing: border-box;
}

/******************************************************************************/
/************************** FÆLLES FOR ALLE SIDER *****************************/
/******************************************************************************/

/*********************************** BODY *************************************/
body {
    font-family: 'Josefin Sans', sans-serif;
    background: ;
}

/********************************** WRAPPER ***********************************/
#wrapper {
    width: 100%;
    height: 100%;
}

/*********************************** HEADER ***********************************/
header {
    
}

/********************************** MENU/NAV **********************************/
nav {
    
}

nav>ul>li {
     
}

nav>ul>li>a {
    
}

/********************************* MAIN CONTENT *******************************/
section {
    
}

h1 {
    
}

/************************************ FOOTER **********************************/
footer {
    }

/******************************************************************************/
/****************************** ENKELTE SIDER *********************************/
/******************************************************************************/

